@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-image: url("./img/background 1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

a{
    text-decoration: none;;
}

p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

ul{
    list-style-type: none;
}

.container{
    width: 1030px;
    margin: 20px auto;
}

.header{
    height: 61px;
    position: relative;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}

.logo{
    width: auto;
    height: 51px;
    position:relative;
    display: flex;
}

.image-switcher{
    position: absolute;
    left: 0;
    z-index: -1
}

.logo:hover .image-switcher{
    z-index:1;
}

.header-text{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.logo:hover .header-text{
    color:#F26522;
}

.top-word{
    font-size: 29px;
    line-height: 29px;
}

.bottom-word{
    font-size: 18px;
    line-height: 18px;
}

.header-email, .header-phone {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.header-email{
    position: absolute;
    top: 0;
    right: 0;
}

.header-phone{
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-email:hover, .header-phone:hover {
    color: #F26522;
}

.grid-container{
    display: grid;
    grid-template-rows:repeat(2,261px) ;
    grid-template-columns:repeat(3,309px) ;
    justify-content: space-between;
    grid-row-gap: 37px;
}

.tour-item {
    text-align: center;
    position: relative;
}

.photo-link{
    height: 261px;
    display: grid;
    justify-content: center;
    align-content: space-between
}

.grid-container img {
    box-sizing: border-box;
    border: 3px solid;
    border-image: repeating-linear-gradient(to right , black, white, black,white  , black) 1;
}

.img{
    position: relative;
}

.price-dropdown {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #F26522;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.6s ease;
}

.tour-item:hover .price-dropdown {
    height: 55px;
    opacity: 1;
}

.price-text{
    position: absolute;
    bottom:38px;
    left: 16px;
    font-size: 10px;
    line-height: 10px;
}

.price-amount{
    position: absolute;
    left: 16px;
    bottom:12px;
    font-size: 20px;
    line-height: 20px;
}

.price-details{
    position: absolute;
    bottom:12px;
    right: 37px;
    font-size: 14px;
    line-height: 14px;
}

.price-details::after {
    content: "";
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    bottom: 25%;
    width: 6px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}

.text-item{
    font-size: 18px;
    line-height: 18px;
    transition: color 0.3s ease;
}

.tour-item:hover .text-item {
    color: #F26522;
}

.footer-text{
    text-align: center;
    margin-top: 49px;
    font-size: 12px;
    line-height: 12px;
}